@import '/resources/css/rv-common.css';

.container {
    padding-top: 3%;
    padding-bottom: 3%;
}

.rv-title-sanskrit {
    font-family: Eczar;
    font-size: 4.0em;
    font-weight: bold;
    text-align: center;
}

.rv-title-english {
    font-family: Garamond;
    font-size: 5.0em;
    text-align: center;
}

.btn-mandala {
    font-family: Garamond;
    font-size: 2.0em;
    text-align: center;
}

.rv-mandala-buttons {
    text-align: center;
}

.card {
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    background-color: var(--theme-color-text);
    color: var(--theme-color-background);
}

.footer {
    text-align: center;
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 3%;
    padding-bottom: 3%;
}